<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/gdg.png"></ion-img>
    <ion-card-header>      
      <ion-card-title>Google Developers Group</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        GDG é Grupo formado por pessoas da comunidade de Uberaba e região,
        focados em compartilhar conhecimentos, experiências, na área de
        tecnologia, empreendedorismo, inovação e afins que possam agregar de
        alguma forma e ajudar no crescimento de todos!
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/graodireto.png"></ion-img>
    <ion-card-header>      
      <ion-card-title>Grão Direto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A Grão Direto oferece uma solução de comercialização que gera um
        processo mais fácil, rápido, com mais informações e contatos, criando
        uma teia entre compradores e produtores. É uma plataforma online que
        conecta produtores de grãos a compradores de forma prática e eficiente,
        ofertando informações do mercado local e global.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
