.card-content-ios {
  padding-top: 0% !important;
  font-size: 14px !important;
}

.card-md h2 {
  margin: 2px 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222;
}

.card-md p {
  margin: 0 0 2px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
}

