<ion-header>
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>

  <!-- ADD BUTTON -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="openModalToCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- / ADD BUTTON -->
</ion-header>

<ion-content>
  <!-- BOOK CARD -->
  <ion-card (click)="openModalToUpdate(book)" *ngFor="let book of arrBooks">
    <ion-card-header>
      <ion-card-title>{{ book.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>{{ book.email }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- / BOOK CARD -->
</ion-content>
